/* Пример базовых стилей */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

header h1 {
    margin-left: 20px;
}

header nav ul {
    list-style: none;
    float: right;
    margin-right: 20px;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #f4f4f4;
}

.hero {
    background-color: #8bc34a;
    color: white;
    padding: 50px 0;
    text-align: center;
}

.catalog {
    padding: 50px 0;
    background-color: white;
}

.book-catalog {
    display: flex;
    justify-content: space-between;
}

.book {
    width: 30%;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.book img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.book button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.book button:hover {
    background-color: #555;
}
