

<!--
<!DOCTYPE html>
<html>
<body>

<h1>Hello World!</h1>
<p>Welcome to my first Django project!</p>

</body>
</html>


{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Голосование</title>
     <link rel="stylesheet" href="{% static 'styles.css' %}">  Подключение стилей
</head>
<body>
    <header>
        <h1>Добро пожаловать на страницу голосования!</h1>
    </header>

    <main>
        <section>
            <h2>Доступные варианты для голосования:</h2>
            <ul>
                {% for option in options %}
                <li>
                    <form action="{% url 'chooses:Poll' option.id  %}" method="POST">
                        {% csrf_token %}
                        <span>{{ option.name }}</span>
                        <button type="submit">Голосовать</button>
                    </form>
                </li>
                {% endfor %}
            </ul>
        </section>

        <section>
            <h2>Результаты голосования:</h2>
            <ul>
                {% for option in options %}
                <li>
                    {{ option.name }} - {{ option.votes.count }} голос(ов)
                </li>
                {% endfor %}
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Система голосования</p>
    </footer>
</body>
</html>
-->


<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Голосование</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">  Подключение стилей 
</head>
<body>
    <header>
        <h1>Добро пожаловать на страницу голосования!</h1>
    </header>

    <main>
        <section>
            <h2>Доступные варианты для голосования:</h2>
            <ul>
                {% for option in options %}
                <li>
                    <form action="{% url 'vote' option.id %}" method="POST">
                        {% csrf_token %}
                        <span>{{ option.name }}</span>
                        <button type="submit">Голосовать</button>
                    </form>
                </li>
                {% endfor %}
            </ul>
        </section>

        <section>
            <h2>Результаты голосования:</h2>
            <ul>
                {% for option in options %}
                <li>
                    {{ option.name }} - {{ option.votes.count }} голос(ов)
                </li>
                {% endfor %}
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Система голосования</p>
    </footer>
</body>
</html>

-->