{% extends "choose/index.html" %}

{% block title %}Login{% endblock %}

{% block content %}


<div class="container-fluid w-25">
    <h1 class="mt-5 text-center">Вход</h1>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}

    <div clas="col">
        <form method="post" class="p-4 border rounded shadow">
            {% csrf_token %}
            <div class="row justify-content-around">
                <div class="row align-self-center">
                    <label class="py-2">Имя пользователя:</label>
                    <input type="text" name="username" required><br>
                    <label class="py-2">Пароль:</label>
                    <input type="password" name="password" required><br>
                </div>
                <br>
                <button type="submit" class="mt-5 py-2 btn btn-success w-25">Войти</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}