/* Сброс стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Основной фон страницы */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fc;
    color: #333;
    line-height: 1.6;
}

/* Контейнер для всех секций */
.container {
    width: 80%;
    margin: 0 auto;
}

/* Навигация */
header nav ul {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
    list-style-type: none;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #ff6347;
}

/* Секция главной страницы */
.home-section {
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 50px 0;
}

.home-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.home-section p {
    font-size: 1.2rem;
}

/* Секция книг */
.books-section {
    padding: 50px 0;
    background-color: #fff;
}

.books-section h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

.books-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.book-item {
    background-color: #f9f9f9;
    border-radius: 10px;
    width: 30%;
    margin: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-item img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.book-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.book-item p {
    font-size: 1rem;
    color: #777;
}

/* Секция контактов */
.contact-section {
    background-color: #333;
    color: white;
    padding: 50px 0;
    text-align: center;
}

.contact-section p {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

/* Футер */
footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 1rem;
}
